<div class="container">
  <%= render "common/new_post" %>
  <div class="jumbotron">
    <h1>NCTU+</h1>
    <p>JSG's NCTU+ project.</p>
  </div>
  <div class="container">
    <%= render "common/posts" %>
  </div>
</div>
