<div class="container">
  <% if current_user?(@user) %>
    <%= render "common/new_post" %>
  <% else %>
    <div class="jumbotron">
      <dl>
        <dt><h3><small>使用者ID: </small></h3></dt>
        <dd><h3><%= @user.user_id %></h3></dd>
        <dt><h3><small>使用者名稱: </small></h3></dt>
        <dd><h3><%= @user.name %></h3></dd>
      </dl>
    </div>
  <% end %>
  <h2>發文列表
    <% if current_user?(@user) %>
      <button class="btn btn-default" data-toggle="modal" data-target="#newPostModal">
        <span class="glyphicon glyphicon-plus-sign"> 新增</span>
      </button>
    <% end %>
  </h2>
  <%= render "common/posts" %>
</div>
