<div class="footer">
  <div class="container">
    <br>
    <ul class="text-center">
      <a href="http://www.github.com/jsg831/nctuplus">
        <span class="glyphicon glyphicon-link"></span>
         JSG's NCTU+
      </a>
       2017
    </ul>
  </div>
</div>
