<div class="footer">
  <div class="container">
    <br>
    <ul class="text-center">
      <a href="http://www.facebook.com/JSG831">
        <span class="glyphicon glyphicon-link"></span>
         JSG
      </a>
      's NCTU+ 2017
    </ul>
  </div>
</div>
